@using LicentaFinal.Core;
@using Microsoft.AspNetCore.Identity
@using LicentaFinal.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManageWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LicentaFinal.styles.css" asp-append-version="true" />
    <link href="~/stylesheet.css" rel="stylesheet" />




</head>
<body class="angry-multigradient">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="/Home/Index">
                <img src="/lib/Wise.png" width="155" height="65" alt="">
            </a>

            <div class="container-fluid">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">

                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index">Invoice</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderItems" asp-action="Index">Inventory</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderHistories" asp-action="Index">Inventory History</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="InvoiceHistories" asp-action="Index">Invoice History</a>
                            </li>


                            @if (User.Identity.IsAuthenticated && User.IsInRole(Constants.Roles.Administrator))

                            {
                              
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Admin</a>
                                </li>
                            }
                            else if (User.Identity.IsAuthenticated && User.IsInRole(Constants.Roles.Manager))
                            {
                                 <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Manager</a>
                                </li>

                            }

                        }


                    </ul>


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LicentaFinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>