@model LicentaFinal.Models.OrderItem


<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeProdus" class="control-label"></label>
                <input asp-for="NumeProdus" class="form-control" />
                <span asp-validation-for="NumeProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantitate" class="control-label"></label>
                <input asp-for="Cantitate" class="form-control" />
                <span asp-validation-for="Cantitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret" class="control-label"></label>
                <input asp-for="Pret" class="form-control" />
                <span asp-validation-for="Pret" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="Creator"></label>
                    <input asp-for="Creator" type="hidden" class="form-control" value="@User.Identity.Name" />
                    <span asp-validation-for="Creator" class="text-danger"></span>
                </div>
     
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
