@model LicentaFinal.Models.Stocuri

@{
    ViewData["Title"] = "Create";
}

<head>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


</head>

<h1>Create</h1>

<h4>Stocuri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeProdus" class="control-label"></label>
                <input asp-for="NumeProdus" class="form-control" id="txtNumeProdus"  />
                <span asp-validation-for="NumeProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantitate" class="control-label"></label>
                <input asp-for="Cantitate" class="form-control" />
                <span asp-validation-for="Cantitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pret" class="control-label"></label>
                <input asp-for="Pret" class="form-control" />
                <span asp-validation-for="Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#txtNumeProdus").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/AutocompleteNumeProdus",
                        type: "GET",
                        data: { term: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
}
