.angry-multigradient {
    width: auto;
    height: auto;
    background: linear-gradient(to right bottom, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #9bbdf2, #85bef6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
